.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60vh;
  background-color: aliceblue;
}

.loginImage {
  width: 10vw;
}

.textInHeader {
  color: white;
  font-size: 2rem;
  font-family: Baloo2;
}

.header {
  background-color: #506cff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardInvitation {
  font-size: 1.5rem;
  color: navy;
  font-weight: 700;
  text-align: center;
}

.dashboardMessage {
  font-size: 1.1rem;
  color: navy;
  padding: 1rem;
}

.listElement {
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 1rem;
}
