* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginButton {
  width: 60vw;
  margin: 1rem;
  border: 1px solid navy;
  border-radius: 8px;
  background-color: aliceblue;
  text-align: center;
  font-family: Baloo2;
  font-size: 1.6rem;
}

.loginButton {
  cursor: pointer;
}

.loginButton:active {
  background-color: navy;
  color: white;
}

.signUpButton {
  background-color: thistle;
}

.loginImage {
  width: 10vw;
  max-width: 50px;
  border-radius: 8px;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loginPageText {
  color: white;
  text-align: center;
  font-family: Baloo2;
  font-size: 2rem;
}

.footer {
  position: fixed;
  bottom: 2%;
  font-size: 1.5rem;
}

.orLine {
  display: flex;
  align-items: center;
}

.loginAmpersand {
  color: white;
  font-family: Baloo2;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}

.nameOfApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameOfApp--para {
  color: white;
  font-family: Baloo2;
  font-size: 1.2rem;
  font-style: italic;
}
