.loginInput,
.loginButton {
  width: 60vw;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  background-color: aliceblue;
  text-align: center;
  font-family: Baloo2;
  font-size: 2rem;
}

.loginButton {
  cursor: pointer;
}

.loginButton:hover {
  background-color: turquoise;
}

.loginButton:active {
  background-color: navy;
  color: white;
}

.loginImage {
  width: 20vw;
  height: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
}

.loginPageText {
  color: white;
  text-align: center;
  font-family: Baloo2;
  font-size: 2rem;

  left: calc(50% - 90px);
}

.footer {
  position: fixed;
  bottom: 20px;
}
