.chartOne {
  background-color: transparent;
  border: none;
  color: navy;
}

/* .chartOneBackground {
  display: block;
  width: 100px;
  height: 100px;
}

*/
.charts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.chartsH2 {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartDescription {
  color: white;
  font-family: Baloo2, sans-serif;

}

@media (max-width: 500px) {
  .charts {
    flex-direction: column;
  }
}