.metadataEntry {
    border: 1px solid #00000020;
    padding: 15px;
    border-radius: 3px;
    background-color: white;
    margin: 20px;
    min-width: 180px;
    border-radius: 0.8rem;

}

.metadata {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.metadataEntryTitle {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00000060;
    margin-top: 0;
    margin-bottom: 0;
}

.metadataEntryContent {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 0;

}

.searchResults {
    background-color: white;
}

.temperature {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    /* background-color: #b8e1f4; */
    background-image: linear-gradient(red, rgb(161, 89, 47));
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
}

.pressure {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    /* background-color: #eb0101; */
    background-image: linear-gradient(rgb(3, 50, 77), rgb(18, 56, 114));
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
}

.humidity {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    background-image: linear-gradient(rgb(4, 4, 48), blue);
    color: white;
    padding: 1px 10px;
    border-radius: 3px;
}

td {
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    color: navy;
    font-family: Baloo2, sans-serif;
    text-align: center;
    font-size: 32px;
}

@media (max-width:535px) {
    .metadataEntry {
        width: 100%;
        margin-right: 0;
    }

    td {
        justify-items: center;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

}