.dashboardInvitation {
  font-size: 1.5rem;
  color: navy;
  font-weight: 700;
  text-align: center;
}

.dashboardMessage {
  font-size: 1.1rem;
  color: navy;
  padding: 1rem;
}

.listElement {
  display: flex;
  align-items: center;
  justify-self: center;
}

.chartsBackground {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 25vh;
}

.barChart {
  width: 300px;
  height: 200px;
  color: red;
}