.nameOfAppPara {
  color: white;
  text-align: center;
}

.loginPageText {
  color: white;
  text-align: center;
  font-family: Baloo2;
  font-size: 2rem;
}

.loginImage {
  width: 10vw;
  max-width: 50px;
  border-radius: 8px;
}