body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  max-width: 1000px;
  background-color: #506cff;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Baloo2";
  src: local("Baloo2"), url("./fonts/Baloo2-Regular.ttf") format("truetype");
}

/* dodane any podpis w wykresie był biały */
.recharts-cartesian-axis tspan {
  fill: white !important;
}